body {
  /* background-image: url(bg.jpg);
  background-position: center;
  background-size: auto cover;
  background-repeat: no-repeat; */
  position: relative;
  background: linear-gradient(to right, rgba(255,178,107,1) 0%,rgba(255,127,4,1) 27%,rgba(255,124,0,1) 69%,rgba(255,183,107,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 25px auto;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 20px;
}

.wrapper {
  width: 900px;
  min-width: 900px;
  margin: 0 auto;
}

.nav-item {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.502);
  position: relative;
  font-family: sans-serif;
}

.left {
  float: left;
  margin-right: 10px
}

.right {
  float: right;
  margin-left: 10px;
}

.dropdown {
  display: none;
  font-size: 16px;
  line-height: 1.25;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 600px;
  left: 0;
  color: black;
  text-transform: none;
  transition: all 0.5s;
  opacity: 0;
}

/* .dropdown p {
  width: 400px;
}*/

.dropdown-op {
  opacity: 1;
  transition: all 0.5s;
}

.dropdown-d {
  display: block;
  transition: all 0.5s;
}

/*.dropdown ul {
  width: 400px;
} */

.tricky .dropdown {
  display: block;
  transition: all 0.1s;
  /* left: 20px;
  top: 70px; */
}

.dropdown:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -22px;
  margin-top: -22px;
}

.tricky {
  top: 20px;
  left: 20px;
  transition: all 0.5s;
}

/* .pos {
  left: 600px;
} */
